<%- include('../partials/header', {title: 'Play', name: 'play'}) %>

<section id="waiting" class="hidden">
  <%- include('../partials/instructions') %>
  <p class="waiting">waiting<span>.</span><span>.</span><span>.</span></p>
  <p>session: <%= sessionName %></p>
</section>

<section id="join" class="hidden">
  <%- include('../partials/instructions') %>
  <button class="buzzer">begin</button>
  <p>session: <%= sessionName %></p>
</section>

<section id="quack" class="">
  <div class="scores">
    <span>you</span>
    <span>them</span>
    <div class="scorebar">
      <span style="width: 42%">3</span>
      <span>4</span>
    </div>
  </div>
  <button class="buzzer">quack</button>
  <p>session: <%= sessionName %></p>
</section>

<script src="js/play.js"></script>

<%- include('../partials/footer') %>
