<%- include('../partials/header', {title: 'Play', name: 'play'}) %>

<section id="waiting" class="hidden">
  <%- include('../partials/instructions') %>
  <p class="waiting">waiting<span>.</span><span>.</span><span>.</span></p>
  <p>session: <%= sessionName %></p>
</section>

<section id="join" class="hidden">
  <%- include('../partials/instructions') %>
  <button class="buzzer">begin</button>
  <p>session: <%= sessionName %></p>
</section>

<section id="quack" class="hidden">
  <div class="scores">
    <span>you</span>
    <span>them</span>
    <div class="scorebar">
      <span style="width: 42%">3</span>
      <span>4</span>
    </div>
  </div>
  <button class="buzzer">quack</button>
  <p>session: <%= sessionName %></p>
</section>

<section id="card" class="">
  <div class="timer">
    <span>20 seconds left!</span>
    <div class="timerbar">
      <span></span>
    </div>
  </div>

  <div class="scores">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="cards">
    <div class="background-cards"></div>
    <div class="active-card">
      <span class="secret-word">secret word</span>
      <span>word 1</span>
      <span>word 1</span>
      <span>word 1</span>
      <span>word 1</span>
    </div>
  </div>

  <div class="toolbelt">
    <button>nope</button>
    <button>got it</button>
  </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="js/button.js"></script>
<script src="js/play.js"></script>

<%- include('../partials/footer') %>
